{% extends 'MyAppUserBundle::public.layout.html.twig' %}
{% block content %}

    <h1>{{ title | trans() }}</h1>

    <style type="text/css">
    </style>

    <script type="text/javascript">
        //<![CDATA[

        function tinymce_button_ajaxsave() {
            var content = $("textarea[name='content']").val();

            if(content.length === 0) {
                return;
            }

            $.ajax({
                url: "{{ url_for("_service") }}",
                success: function(data) {
                   alert(data.toSource());
                }
            });
        }

        //]]>
    </script>

    <form>
        <textarea name="content" class="tinymce">

            &lt;h1&gt;Lorem ipsum dolor sit amet&lt;/h1&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu urna mollis est molestie consectetur non a eros. Nullam sit amet dapibus quam. Sed lorem sem, viverra in rutrum ut, sodales vel lorem. Maecenas lorem sapien, semper in suscipit a, egestas sed tortor. Quisque lacus magna, suscipit vitae mollis sed, sodales non quam. Aenean nec libero erat, a eleifend odio. Aenean placerat neque in metus varius scelerisque.&lt;/p&gt;

            &lt;ul&gt;
            &lt;li&gt;Lorem ipsum&lt;/li&gt;
            &lt;li&gt;Dolor sit amet&lt;/li&gt;
            &lt;li&gt;Etiam rhoncus&lt;/li&gt;
            &lt;li&gt;Vehicula porta&lt;/li&gt;
            &lt;/ul&gt;

            &lt;h1&gt;Nulla interdum dapibus sapien&lt;/h1&gt;

            &lt;p&gt;Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla interdum dapibus sapien, non mattis arcu varius sed. Donec a ligula neque, quis volutpat libero. Duis nunc lectus, commodo sed auctor sit amet, hendrerit vel sem. Suspendisse gravida molestie odio laoreet congue. In hac habitasse platea dictumst. Praesent facilisis massa posuere nibh sollicitudin vestibulum. Pellentesque tristique nisl ac felis dapibus ullamcorper. Etiam sit amet ipsum nibh, id posuere sapien. Etiam feugiat volutpat volutpat. Duis fermentum, odio vel ornare placerat, lectus risus rutrum nisi, eget rutrum leo quam vel mauris.&lt;/p&gt;

            &lt;table style="border-color: #000000; border-width: 0px; width: 523px; height: 116px; border-style: solid;" dir="ltr" border="0" frame="box" cellspacing="0" cellpadding="3"&gt;
            &lt;tbody&gt;
            &lt;tr&gt;&lt;th style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;imię&lt;/th&gt;
            &lt;th style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;nazwisko&lt;/th&gt;
            &lt;th style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;płeć&lt;/th&gt;&lt;/tr&gt;
            &lt;tr&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;Jan&lt;/td&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;Kowalski&lt;/td&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;M&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;Ela&lt;/td&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;Wiśniewska&lt;/td&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;K&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;J&oacute;zef&lt;/td&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;Kurka&lt;/td&gt;
            &lt;td style="border-color: #000000; border-style: solid; border-width: 1px;"&gt;M&lt;/td&gt;
            &lt;/tr&gt;
            &lt;/tbody&gt;
            &lt;/table&gt;

            &lt;p&gt;Etiam rhoncus vehicula porta. Cras sodales viverra mi, eget volutpat eros sagittis at. Pellentesque sem eros, rutrum quis tristique ac, egestas id ipsum. Phasellus eros nunc, accumsan eget venenatis id, tincidunt venenatis lectus. Cras dapibus posuere nisl, eget euismod erat fermentum vitae. Nullam tellus tellus, varius sollicitudin varius ac, luctus in nulla. Mauris pretium porttitor turpis, at pulvinar nunc pellentesque a. Mauris eu elit erat, vel viverra ante. Nulla posuere mi eget metus sagittis at vehicula justo rhoncus.&lt;/p&gt;

        </textarea>
    </form>

    {{ tinymce_init() }}

{% endblock %}
