{% extends 'MyAppUserBundle::public.layout.html.twig' %}
{% block content %}

    <h1>{{ "Welcome" | trans() }}!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra semper ornare. Nullam rutrum est quis eros congue tempus. Phasellus tellus erat, egestas in interdum ut, ultricies tempus justo. Aliquam erat volutpat. Aenean pulvinar adipiscing metus non luctus. Integer in condimentum nibh. Nam iaculis sem a justo facilisis egestas. Pellentesque massa turpis, euismod nec euismod et, pretium at enim. Praesent vel nibh nunc, non interdum neque. Suspendisse est eros, aliquam in semper a, tempus vitae nulla. Praesent mi libero, auctor id convallis gravida, suscipit ut tortor. Maecenas posuere blandit risus quis dignissim. Etiam at fermentum felis.</p>

    <p>Nullam scelerisque semper fermentum. Vestibulum sed mi eros. Aenean mattis, arcu in rhoncus tristique, purus mauris scelerisque lacus, quis semper libero nulla ornare nisl. Curabitur aliquet lectus sapien. Sed interdum arcu a nibh consectetur mollis. Suspendisse libero erat, consequat auctor facilisis sit amet, varius a lorem. Quisque eget magna erat. Donec laoreet nulla ac orci scelerisque sollicitudin. Phasellus at lacus nulla, in ullamcorper dui. Praesent mollis tellus sit amet magna commodo sed eleifend nisl mattis. Aenean quis nunc in neque rhoncus rutrum vitae aliquet orci. Donec quam urna, iaculis eu molestie ut, sollicitudin dapibus nibh. Fusce porta, leo in pulvinar euismod, ligula turpis sagittis tellus, ac ullamcorper ligula erat non risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin convallis placerat ante et semper. Sed rhoncus magna sapien, vel feugiat dolor.</p>

    <p>Sed semper, neque at mattis porttitor, lectus velit venenatis leo, id viverra velit ipsum id odio. Suspendisse a neque in justo aliquet tempor. Ut imperdiet sem urna, sit amet fringilla risus. Aliquam lobortis iaculis enim et cursus. Nam venenatis felis id neque vestibulum aliquet. Sed eu ornare nisl. In enim est, auctor venenatis consequat in, malesuada non purus.</p>

    <p>Nulla at diam libero. Aliquam et tellus ante. Maecenas commodo, risus vitae sollicitudin scelerisque, tortor ligula malesuada mi, in tincidunt tellus lorem nec tortor. Vivamus blandit fringilla orci, sagittis feugiat ligula elementum vitae. Sed vitae placerat lectus. Vestibulum semper mi vitae justo gravida vel auctor metus mattis. Donec eu mauris arcu, quis fringilla mi. Donec lobortis consectetur enim ut sagittis. Sed tortor ipsum, placerat ut adipiscing a, convallis sed felis. Ut sem urna, pulvinar eu placerat ut, auctor eget nisi. Maecenas ac leo nisl. Praesent sed orci eu neque sagittis pellentesque.</p>

{% endblock %}