{% extends 'MyAppUserBundle::public.layout.html.twig' %}
{% block content %}

    <h1>{{ title | trans() }}</h1>

    <p>Nunc quis tristique enim. Sed est ligula, gravida eget interdum id, pharetra eu orci. In molestie, enim at viverra lacinia, est neque vestibulum augue, vel commodo enim leo non sapien. Sed euismod luctus mattis. Ut tincidunt nibh a ipsum fermentum non fermentum erat placerat. Integer quis velit elit. Maecenas sed dapibus dolor. Sed vehicula ultricies lectus. Morbi non orci libero, id dapibus metus. Cras a massa enim, et auctor leo.</p>

    <p>Suspendisse condimentum adipiscing lorem eu scelerisque. Aenean sed neque in risus porta placerat. Curabitur ac odio et nisl dignissim egestas sit amet eget nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum odio libero, auctor quis tempus non, tempor eget urna. Morbi purus nisl, sollicitudin a placerat vitae, tempor ac risus. In est ipsum, dignissim at feugiat eu, viverra sed massa. Sed hendrerit odio vel sem luctus pulvinar. Nullam vel sagittis nisi.</p>

    <p>Quisque tempor, leo nec semper vulputate, nisl dolor tempor urna, vel ornare mauris dui in nisi. Fusce venenatis risus eu nulla feugiat lacinia vitae sed leo. Nullam id nisl auctor odio vestibulum tincidunt quis at elit. Sed sagittis adipiscing semper. Maecenas nec elit sit amet augue laoreet dictum nec sit amet ante. Fusce neque purus, iaculis vel rhoncus sit amet, dignissim ut diam. Fusce accumsan dictum mauris, a aliquet diam porta non. Maecenas quis auctor quam. Mauris et nisi quis ante gravida gravida. Cras posuere sollicitudin libero eu varius. Morbi molestie orci non nibh interdum aliquet. Quisque accumsan turpis eget dui lobortis tempus at eu tortor. Aliquam bibendum tincidunt tellus, eu luctus erat placerat ut. Ut congue pharetra imperdiet. Suspendisse potenti.</p>

{% endblock %}