{% extends 'MyAppUserBundle::public.layout.html.twig' %}
{% block content %}
    <style type="text/css">
        body {
            color: green;
        }
    </style>

    <h1>{{ "Public page" | trans() }}!</h1>

{% endblock %}