{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block content %}

    <h1>{{ title | trans() }}!</h1>

    <p>Integer tortor leo, facilisis at dictum placerat, molestie in justo. Pellentesque laoreet interdum quam, nec rhoncus arcu accumsan ut. Aenean auctor dictum accumsan. Vivamus vel purus a erat congue egestas. Proin ligula quam, sodales id scelerisque eget, luctus bibendum libero. Duis a nunc id nunc dictum sodales. Aliquam tincidunt dapibus sapien imperdiet dictum. Praesent aliquet dui et ligula pharetra fermentum. Etiam vitae purus velit. Etiam facilisis, massa ac ultricies cursus, orci mi mattis velit, et feugiat orci enim at justo. Sed non augue mi, eu mollis elit. Pellentesque quis enim nisl. In vitae elit at diam laoreet egestas adipiscing et nunc. Nulla laoreet pulvinar purus ac posuere.</p>

    <p>Praesent varius gravida arcu at facilisis. Maecenas ullamcorper, sem in rutrum scelerisque, leo urna vestibulum mi, a condimentum magna sem porta metus. In cursus odio lorem, non aliquam elit. Etiam molestie interdum purus, eget rhoncus diam lacinia ut. Ut quis erat vitae erat malesuada lacinia venenatis ut felis. Pellentesque pulvinar ante quis est dictum sit amet ullamcorper magna ullamcorper. Duis pretium ligula sit amet nisi imperdiet eget egestas urna ullamcorper. Sed rhoncus felis id orci ornare a vehicula odio cursus. Nam suscipit feugiat risus, eget venenatis risus porttitor sit amet. Fusce pretium, leo in pellentesque malesuada, arcu massa lobortis ipsum, et vestibulum est ante vitae odio. Integer dignissim convallis pellentesque. Vivamus eget mattis dui. Morbi rhoncus feugiat nulla, sit amet commodo lacus vehicula eu. Sed nec nulla libero, eget elementum lacus.</p>

    <p>Praesent eu dui viverra eros dictum consectetur at nec nisi. Maecenas egestas ipsum quis nulla tempor malesuada. Nam at orci in orci commodo laoreet. Cras et tortor est, ut tincidunt arcu. Suspendisse nisl mi, auctor non pretium in, consectetur nec ante. Nam porttitor, arcu vitae elementum pharetra, orci erat euismod nunc, egestas tincidunt magna leo id tellus. Nullam diam nulla, fermentum eu elementum vel, lacinia vitae dolor. Nunc nec congue augue.</p>

{% endblock %}