imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: bootstrap/bootstrap.yml }

    - { resource: session.yml }
    - { resource: validation.yml }

    - { resource: fos/jsrouting.yml }
    - { resource: fos/rest.yml }
    - { resource: fos/user.yml }
    - { resource: sonata/block.yml }
    - { resource: sonata/admin.yml }
    - { resource: sonata/user.yml }

    - { resource: application/main.yml }
    - { resource: siciarek/utils.yml }

    - { resource: sonata/media.yml }
    - { resource: sonata/seo.yml }
    - { resource: ivory/ckeditor.yml }
    - { resource: stof/extensions.yml }
    - { resource: knp/paginator.yml }
    - { resource: knp/snappy.yml }
    - { resource: captcha/captcha.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    fragments:       ~
    http_method_override: true
    session:
        name: %session_cookie_name%
        cookie_lifetime: 7200 # two hours
        handler_id: session.handler.pdo
        cookie_httponly: false

#    session:
#        name:
#        cookie_lifetime:
#        cookie_path:
#        cookie_domain:
#        cookie_secure:
#        cookie_httponly:
#        gc_divisor:
#        gc_probability:
#        gc_maxlifetime:
#        save_path:


# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    globals:
        app_name: %app_name%
        app_description: %app_description%
        supported_languages:
           en: English
           pl: Polski

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [ 'ApplicationMainBundle' ]
    java: %java_path%

    filters:
        lessphp:
            file: %kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php
            apply_to: "\.less$"
        yui_js:
            jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar
        yui_css:
            jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar
        cssrewrite: ~
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        types:
            json: Sonata\Doctrine\Types\JsonType
            gender: Application\MainBundle\Doctrine\DBAL\Types\GenderType
    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    encryption: %mailer_encryption%
#    spool:     { type: memory }
