parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: myapp
    database_user: root
    database_password:

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null

    locale: pl
    secret: b14eee56a9d102e8c10bc2d94cb1248430
    database_path: null
