jms_security_extra:
    secure_all_services: false
    expressions: true

security:
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
            logout:       true
            anonymous:    true
            remember_me:
                key:      "%secret%"
                lifetime: 31536000  # 365 days in seconds
                remember_me_parameter: _remember_me
                path: /
                domain: ~

    access_control:
        - { path: ^/login$,        role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register,      role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting,     role: IS_AUTHENTICATED_ANONYMOUSLY }

        - { path: ^/$,             role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/public.html$,  role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/editor.html$,  role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/secured.html$, role: ROLE_ADMIN }

    role_hierarchy:
        ROLE_USER:        IS_AUTHENTICATED_ANONYMOUSLY
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN
