sonata_media:
    db_driver:       doctrine_orm
    default_context: default
    contexts:
        default:  # the default context is mandatory
            download:
                mode: http
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file
                - sonata.media.provider.vimeo

            formats:
                small:  { width: 200, quality: 100}
                medium: { width: 450, quality: 100}
                big:    { width: 800 , quality: 100}

#        news:
#            providers:
#                - sonata.media.provider.image
#                - sonata.media.provider.youtube
#
#            formats:
#                regular: { width: 350, quality: 100}
#                wide:    { width: 750 , quality: 100}
#                video: { width: 640, quality: 100}

    cdn:
        # define the public base url for the uploaded media
        server:
            path:      %sonata_media.cdn.host%

    filesystem:
        local:
            directory:  %kernel.root_dir%/../web/uploads/media
            create:     true

    providers:
        file:
            resizer:    false

    pixlr:
        enabled:  true
        referrer: Demo - Sonata Project

    resizer:
        simple:
            mode:  inset
