form.navbar-form .form-control {
    width: 150px !important;
}

.form-horizontal {
    margin-top:32px;
}

.form-control {
    width: 300px !important;
}

div.input-group {
    margin-bottom: 16px;
}

.form-horizontal button.btn {
    width: 160px !important;
}

span.input-group-addon {
    width: 160px;
    text-align: right;
}

span.input-group-addon label {
    margin:0;
    padding: 0;
    font-weight: normal;
}