<div style="background-color:white;height:142px;text-align:left"><a title="{{ app_name|trans }}" href="{{ url('_homepage') }}"><img
    alt="{{ app_name|trans }}" src="{{ app.request.schemeAndHttpHost }}/images/emailheader.png"/></a></div>
